.description__container{
    .description__title{
        font-family: 'ProximaNova';
        font-size: 18px;
        line-height: 30px;
        color: #000000;
    }
    .description__details{
        font-family: 'ProximaNova';
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        color: #666666;
    }
}