@font-face {
    font-family: 'ProximaNova';
    src: url('../../assets/fonts/ProximaNova_Regular.otf');
  }

  @font-face {
    font-family: 'ProximaNovaBold';
    src: url('../../assets/fonts/Proxima_Nova_Bold.otf');
  }

  @font-face {
    font-family: 'NunitoSans';
    src: url('../../assets/fonts/NunitoSans-Regular.ttf');
  }

  @font-face {
    font-family: 'Dosis';
    src: url('../../assets/fonts/Dosis-Regular.ttf');
  }